html{
    background-color: lightgray;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    height: 400px;
    width: 600px;
    margin: auto;
}

.grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    margin: 5px;
}

#number0 {
    grid-column-start: 2;
}

#result {
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: white;
}